.m-background {
  position: absolute;
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.m-background--media-1 {
  /*background-image:url('~@/assets/images/backgrounds/bg__exterior.jpg');*/
  background-image: linear-gradient($color-bg-yellow, $color-bg-yellow-dark);
  height:600px;
}
.m-background--media-2 {
  background-image:url('~@/assets/images/backgrounds/bg__reception.jpg');
}
.m-background--media-3 {
  background-image:url('~@/assets/images/backgrounds/bg__communual.jpg');
}
.m-background--media-4 {
  background-image:url('~@/assets/images/backgrounds/bg__bedroom.jpg');
}
.m-background--media-5 {
  background-image:url('~@/assets/images/backgrounds/bg__kitchen.jpg');
}

.m-background__overlay {
  &:before {
    content:' ';
    width: 100%;
    height:600px;
    background-color: $color-bg-yellow;
    opacity: 0.92;
    position: absolute;
    background-size: cover;
    top: 0;
  }
}

.m-background__overlay-blue {
  &:before {
    content:' ';
    width: 100%;
    height: 600px;
    background-color: $color-primary;
    opacity: 0.92;
    position: absolute;
    background-size: cover;
    top: 0;
  }
}

.m-background__overlay-purple {
  &:before {
    content:' ';
    width: 100%;
    height: 600px;
    background-color: $color-purple;
    opacity: 0.92;
    position: absolute;
    background-size: cover;
    top: 0;
  }
}
