#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 600px;
}

.question {
  width: 49px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.8;
  }
}
